-- MySQL dump 10.13  Distrib 8.0.43, for Linux (x86_64)
--
-- Host: localhost    Database: data_finance
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `actions`
--

DROP TABLE IF EXISTS `actions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `actions` (
  `action_id` int NOT NULL,
  `action_name` varchar(50) NOT NULL,
  PRIMARY KEY (`action_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `actions`
--

LOCK TABLES `actions` WRITE;
/*!40000 ALTER TABLE `actions` DISABLE KEYS */;
INSERT INTO `actions` VALUES (1,'send_greeting'),(2,'show_help'),(3,'insert_transaction'),(4,'query_transaction'),(5,'calculate_balance'),(6,'query_total_akun'),(7,'query_total_kategori');
/*!40000 ALTER TABLE `actions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `data_transaksi`
--

DROP TABLE IF EXISTS `data_transaksi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `data_transaksi` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `tanggal` date NOT NULL,
  `deskripsi` varchar(255) DEFAULT NULL,
  `debit` decimal(15,2) DEFAULT '0.00',
  `kredit` decimal(15,2) DEFAULT '0.00',
  `jenis_akun` varchar(50) DEFAULT NULL,
  `sub_kategori` varchar(50) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `data_transaksi_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `data_transaksi`
--

LOCK TABLES `data_transaksi` WRITE;
/*!40000 ALTER TABLE `data_transaksi` DISABLE KEYS */;
/*!40000 ALTER TABLE `data_transaksi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dict_user`
--

DROP TABLE IF EXISTS `dict_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dict_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `keyword` varchar(100) DEFAULT NULL,
  `jenis_akun` varchar(50) DEFAULT NULL,
  `sub_kategori` varchar(50) DEFAULT NULL,
  `sinonim` text,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dict_user`
--

LOCK TABLES `dict_user` WRITE;
/*!40000 ALTER TABLE `dict_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `dict_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `intent_action_map`
--

DROP TABLE IF EXISTS `intent_action_map`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `intent_action_map` (
  `map_id` int NOT NULL AUTO_INCREMENT,
  `intent_id` int DEFAULT NULL,
  `action_id` int DEFAULT NULL,
  PRIMARY KEY (`map_id`),
  KEY `intent_id` (`intent_id`),
  KEY `action_id` (`action_id`),
  CONSTRAINT `intent_action_map_ibfk_1` FOREIGN KEY (`intent_id`) REFERENCES `intents` (`intent_id`),
  CONSTRAINT `intent_action_map_ibfk_2` FOREIGN KEY (`action_id`) REFERENCES `actions` (`action_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `intent_action_map`
--

LOCK TABLES `intent_action_map` WRITE;
/*!40000 ALTER TABLE `intent_action_map` DISABLE KEYS */;
INSERT INTO `intent_action_map` VALUES (1,1,1),(2,2,2),(3,3,3),(4,4,4),(5,5,5),(6,6,6),(7,7,7);
/*!40000 ALTER TABLE `intent_action_map` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `intents`
--

DROP TABLE IF EXISTS `intents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `intents` (
  `intent_id` int NOT NULL,
  `intent_name` varchar(50) NOT NULL,
  `description` text,
  PRIMARY KEY (`intent_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `intents`
--

LOCK TABLES `intents` WRITE;
/*!40000 ALTER TABLE `intents` DISABLE KEYS */;
INSERT INTO `intents` VALUES (1,'greeting',''),(2,'help',''),(3,'catat_transaksi',''),(4,'lihat_rincian',''),(5,'tanya_saldo',''),(6,'tanya_total_akun',''),(7,'tanya_total_kategori',''),(8,'unknown','Intent tidak dikenali'),(9,'hapus_transaksi','Menghapus transaksi');
/*!40000 ALTER TABLE `intents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `query_log`
--

DROP TABLE IF EXISTS `query_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `query_log` (
  `log_id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `session_id` varchar(36) NOT NULL,
  `request_ts` datetime(3) NOT NULL,
  `user_input` text NOT NULL,
  `preprocessed_input` text,
  `predicted_intent` varchar(50) DEFAULT NULL,
  `intent_confidence` float DEFAULT NULL,
  `intent_threshold_used` float DEFAULT NULL,
  `intent_detected_via` varchar(20) DEFAULT NULL,
  `detected_jenis_akun` varchar(30) DEFAULT NULL,
  `detected_sub_kategori` varchar(50) DEFAULT NULL,
  `entity_confidence` float DEFAULT NULL,
  `entity_detected_via` varchar(20) DEFAULT NULL,
  `period_type` varchar(10) DEFAULT NULL,
  `period_value` varchar(50) DEFAULT NULL,
  `generated_sql` text,
  `sql_success` tinyint(1) DEFAULT NULL,
  `sql_rows_affected` int DEFAULT NULL,
  `response_text` text,
  `response_type` varchar(30) DEFAULT NULL,
  `latency_total_ms` int DEFAULT NULL,
  `latency_embed_ms` int DEFAULT NULL,
  `latency_qdrant_ms` int DEFAULT NULL,
  `latency_sql_ms` int DEFAULT NULL,
  `user_feedback` tinyint DEFAULT NULL,
  `feedback_ts` datetime DEFAULT NULL,
  `model_version` varchar(50) DEFAULT NULL,
  `threshold_version` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`log_id`),
  KEY `idx_session` (`session_id`),
  KEY `idx_ts` (`request_ts`),
  KEY `idx_intent` (`predicted_intent`),
  KEY `idx_rtype` (`response_type`)
) ENGINE=InnoDB AUTO_INCREMENT=257 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `query_log`
--

LOCK TABLES `query_log` WRITE;
/*!40000 ALTER TABLE `query_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `query_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `full_name` varchar(100) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'milla','$2b$12$stMBvhPT0vgllhioPnZgXeb/WE6vMJ7RSEv3SrU5nn98tR/hI0iky','milla rany','2026-05-27 12:43:38'),(2,'firqi','$2b$12$VYwlJgADvmUsg7Cwwf8USuEf5GdbOvAAY5.2FLxqljPvU/40LUp/m','firqii','2026-05-30 07:21:29'),(3,'rany','$2b$12$p6phISKUIUkwhh.exbYL5uyJpoBMluI0NKZO1.v5YKCTlkdics2FC','ranyy','2026-05-30 08:17:29'),(4,'millarany','$2b$12$uMqybIkhQ24sLLgPuPig0.YuQ8YPf/HCJphPFZgPDCBMPoV43AcAq','','2026-07-01 08:40:22');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-07  9:01:27
